<!DOCTYPE html>
<html>
<head>
  <title>Travel App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
  <div class="page">
    <header>
      <h1 id='brand'>SPD Travels</h1>
      <h3 id='tagline'>Plan Your Next Trip With Us!</h3>
      <div class ="holdersds">
            <label for="zip">Enter City and Country Code here</label>
            <input type="text" id="zip" placeholder="London,uk">
            <label for="date">Enter Departure Date</label>
            <input type="text" id="date" placeholder="DD/MM/YYYY">
            <button id="generate" class="btn btn-search" name="submit" type="submit">search </button>
      </div>
    </header>
    <br>
    <content>
      <div class="row">
        <div class="col">
          <img id='thumb' style="width:100%;height:100%"/>
        </div>
        <div class="col data">
          <h2 id='dest'></h2>
          <h2 id='dept'></h2>
          <h3 id='days'></h3>
          <h3>Typical weather for then:</h3>
          <h3 id='temp'></h3>
          <h3 id='desc'></h3>
          <button id='save' class='but' type='button'>Save</button>
        </div>
      </div>
      <h2 id='planned'>Your Planned Trips</h2>
      <div class="trip data">
        <h3>Destination: Paris, France</h3>
        <h3>Departure: 02/02/2020</h3>
        <h4>Paris is 20 days away</h4>
        <h4>Typical weather for then:</h4>
        <h4>High: 30.0, Low: 24.0</h4>
        <h4>Very Humid</h4>
      </div>
    </content>
  </div>
</body>
</html>
