* {
    box-sizing: border-box;
}

.col {
    float: left;
    width: 50%;
    height: 430px; /* Should be removed. Only for demonstration */
}

.trip {
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 70%;
    height: 220px; /* Should be removed. Only for demonstration */
}

.data{
    background-color:#ccc;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    height: 200%;
    }
    .trip {
        width: 100%;
        height: 200%;
    }
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: grey;
    margin: 0 !important;
    padding: 0 !important;
}

.page{
    background-color: #224466;
    margin-top: 0px;
    padding-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
}